<div class="criteria-container " style="padding: 5px">
  <button class="btn" (click)="menu='phrase'" [class.underline]="menu=='phrase'">phrase</button>
  <button class="btn" (click)="menu='word'" [class.underline]="menu=='word'">word</button>
</div>
<div style="padding: 5px">
  <div *ngIf="menu=='phrase'">
    <div *ngFor="let item of aroundList" style="padding: 3px" >
      <div style="color:silver"  [class.bold]="item.selected == true">{{item.Phrase}}</div>
    </div>
  </div>
  <div *ngIf="menu=='word'">
    <div *ngIf="selectedItem.question && !canEdit">
      <div style="overflow-y: auto;height: 240px;overflow-x: hidden">
        <div style="padding: 5px"><b> {{selectedItem.question}} :</b></div>
        <div style="padding: 5px">{{selectedItem.answer}}</div>
<!--        <div style="padding: 5px">-->
<!--          <app-word-dictionary [word]="selectedItem.question" [height]="140"></app-word-dictionary>-->
<!--        </div>-->
        <div style="padding: 5px;text-align: center">
          <button class="myButton" style="height: 40px" (click)="canEdit = true">change</button>
        </div>
      </div>
    </div>
    <div *ngIf="!selectedItem.question || canEdit">
      <div class="criteria-container" style="flex-wrap: wrap;">
        <div *ngFor="let item of wordList" style="padding: 1px">
          <button class="btn" [class.selected]="item.selected" (click)="selectWord(item)">{{item.t}}</button>
        </div>

        <div style="height: 180px;overflow-y: auto">
          <div *ngFor="let definition of definitionList" style="padding: 5px;font-size: 12px" class="criteria-container">
              <button class="btn" (click)="selectDef(definition.definition)">
                <img src="../../../assets/img/check.svg" style="height: 20px"/>
              </button>
              <div style="padding: 5px;" >{{definition.definition}}</div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
